.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-left: 100px;
    padding-bottom: 10px ;
    margin-right: 10px ;
}
.product h4{
    color: blue;
    font: 600;
}
.product-description{
    margin-left: 20px;
}
.btn{
    background-color:goldenrod;
    width: 200px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid black;
}
